BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## PERGOLA REVA 0.1

LOCATE COMP "clk_16mhz" SITE "P11";
IOBUF  PORT "clk_16mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_16mhz" 16 MHZ;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "F15";
LOCATE COMP "led[6]" SITE "E16";
LOCATE COMP "led[5]" SITE "E15";
LOCATE COMP "led[4]" SITE "D16";
LOCATE COMP "led[3]" SITE "C16";
LOCATE COMP "led[2]" SITE "C15";
LOCATE COMP "led[1]" SITE "B16";
LOCATE COMP "led[0]" SITE "B15";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn" SITE "F14";
IOBUF  PORT "btn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# PMOD1
# Connector("pmod", 0, "P2  L1  J2  H2  - - N1  L2  J1  G1  - -"), # PMOD1
#                       C+  0+  1+  2+      C-  0-  1-  2-

# GPDI differential interface (Video) "gpdi" sheet
LOCATE COMP "gpdi_dp[0]" SITE "J2"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "J1"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "L1"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "L2"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "P2"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "G1"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "H2"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "G1"; # Clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;

# Connector("pmod", 1, "G2  E2  C1  B1  - - F1  D1  C2  B2  - -"), # PMOD2
LOCATE COMP "usb_fpga_bd_dp" SITE "G2";
LOCATE COMP "usb_fpga_bd_dn" SITE "E2";
LOCATE COMP "debug[2]" SITE "C1";
LOCATE COMP "debug[3]" SITE "B1";
IOBUF PORT "usb_fpga_bd_dp" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "usb_fpga_bd_dn" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "debug[3]" IO_TYPE=LVCMOS33 DRIVE=4;
